body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

span {
  font-weight: bold;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
}

.box span {
  font-size: 2rem;
}

h2 span {
  color: #000;
}
